.App {
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(153, 102, 255, 0.8), rgba(153, 102, 255, 0.2));
  background-size: cover;
}
